<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/task
               http://www.springframework.org/schema/task/spring-task.xsd">

  <!--Ищем бины кроме контроллеров -->
  <context:component-scan base-package="art.dev">
    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
  </context:component-scan>

  <!-- Таск шедулер-->
  <task:annotation-driven/>

  <!--Здесь файл свойств -->
  <context:property-placeholder location="classpath:properties/app.properties"/>

  <!--Активный профиль prod -->
  <beans profile="prod">
    <import resource="classpath:spring/profile/spring-data-prod.xml"/>
  </beans>

  <beans>
    <!-- Класс для отправки писем -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
      <property name="javaMailProperties">
        <props>
          <prop key="mail.debug">${mail.debug}</prop>
          <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
          <prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>
        </props>
      </property>
      <property name="host" value="${mail.host}"/>
      <property name="port" value="${mail.port}"/>
      <property name="username" value="${mail.username}"/>
      <property name="password" value="${mail.password}"/>
      <property name="protocol" value="${mail.protocol}"/>
    </bean>
  </beans>

</beans>